<!-- project/base.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Thursday, May 1, 2025 -->
<!-- Description: base file for future html files -->

{% load static %}

<html>
   <head>
       <title>My Kitchen</title>
       <link rel="stylesheet" href="{% static 'project.css' %}">
   </head>

   <body>
       <head>
        <h1>My Kitchen</h1>
        <img src="{% static 'images/fridge3.png' %}" alt="Icon" class="top-right-icon">
           <nav>
               <a href="{% url 'homepage' %}">Home</a>
               <a href="{% url 'profile_list' %}">Profiles</a>
               <a href="{% url 'recipe_list' %}">Recipes</a>
               <a href="{% url 'collection_list' %}">Recipe Collections</a>
               {% block extra_nav_link %}{% endblock %}
                <!-- ADD: URLs for logged in users only -->
                {% if request.user.is_authenticated %}
                <!-- ADD: URLS for authentication -->
                <a href="{% url 'item_list' %}">My Owned Items</a>
                <a href="{% url 'user_recipe_list' %}">Recipes I Created</a>
                <a href="{% url 'user_collection_list' %}">Collections I Made</a>
                <a href="{% url 'feasible_recipes' %}">Recipes I Can Make</a>
                {% else %}
                <a href="{% url 'create_profile' %}">Create New Profile</a>
                {% endif %}
                <hr>
                {% if request.user.is_authenticated %}
                <span class="text">Logged in as: {{request.user}}</span>
                <form action="{% url 'logout' %}" method="post"> 
                    {% csrf_token %}
                    <button class="btn" type="submit">Logout</button>
                </form>
                {% else %}
                <span class="text">Not logged in.</span>
                <button class="btn"><a class="specialbtn" href="{% url 'login' %}">Login</a></button>
                {% endif %}
           </nav>
       </head>

       {% block content %}
       {% endblock %}
   </body>
</html>