<!-- project/delete_item.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Thursday, May 1, 2025 -->
<!-- Description: html form for deleting items -->

{% extends 'project/base.html' %}

{% block content %}

  <h1>Are you sure you want to delete this item?</h1>

  <p>Item: {{ owneditem.item_name }}</p>

  <!-- Form to submit the delete request -->
<form method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>
<!-- Form to cancel the delete request -->
<form action="{% url 'item_list' %}" method="GET">
  {% csrf_token %}
  <input type="submit" value="Cancel">
</form>

{% endblock %}