<!-- project/homepage.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Thursday, May 1, 2025 -->
<!-- Description: home page for the Project application -->

{% extends 'project/base.html' %}

{% block content %}
<h2>Welcome to My Kitchen!</h2>
<h3>The Purpose of this Application</h3>
<p>The goal of this application is to make cooking for college students just a little bit easier!</p>
<p>On this site, you'll be able to do a couple things:</p>
<ul>
    <li>Login and logout</li>
    <li>Keep track of your kitchen inventory</li>
    <li>Upload recipes and view recipes made by other users</li>
    <li>Get shown which recipes you can make based on what you own--or, see what you're missing!</li>
    <li>Group together recipes however you please--favorites, dinner meals, etc.!</li>
</ul>
{% endblock %}