<!-- mini_fb/base.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Friday, February 21, 2025 -->
<!-- Description: base file for future html files -->

 {% load static %}

 <html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <head>
            <nav>
                <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
                <a href="{% url 'create_profile' %}">Create New Profile</a>
            </nav>
            <h1>Mini Facebook</h1>
        </head>

        {% block content %}
        {% endblock %}
    </body>
 </html>