<!-- mini_fb/create_profile_form.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Friday, February 28, 2025 -->
<!-- Description: Display the HTML form to create a new Profile object -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Create a New Profile</h2>

<!-- Display the HTML form
 need the enctype="multipart/form-data" to send media (binary data)
 with this form submission -->
 <form action="{% url 'create_profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ user_creation_form.as_table }}
    </table>
    <br>
    <table>
        {{form.as_table}}
    </table>
    <br>
    <center>
        <button type="submit">Create Profile</button>
    </center>

    <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">

</form>

{% endblock %}