<!-- mini_fb/create_status_form.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Friday, February 28, 2025 -->
<!-- Description: Display the HTML form to create a new StatusMessage object -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Create a New Status Message</h2>

<!-- Display the HTML form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br>
    <table>
        <tr>
            <th>Image:</th>
            <td><center><input type="file" name = "files" multiple /></center></td>
        </tr>
    </table>
    <br>
    <center>
        <input type="submit" name="submit" value="Submit">
    </center>
</form>

{% endblock %}