<!-- mini_fb/show_profile.html -->
<!-- Made by Annelise Schreiber, aschreib@bu.edu-->
<!-- Friday, February 21, 2025 -->
<!-- Description: will render a single profile record -->

{% extends 'mini_fb/base.html' %}

{% block extra_nav_link %}
    <a href="{% url 'friend_suggestions' profile.pk %}">Friend Suggestions</a>
    <a href="{% url 'news_feed' profile.pk %}">News Feed</a>
{% endblock %}

{% block content %}

    <div>
        <h2>{{profile.first_name}} {{profile.last_name}}'s Profile</h2>
        {% if profile.image_file %}
        <center><img src="{{profile.image_file.url}}" alt="pictures from fb profiles" style="max-width: 400px; height: auto;"></center>
        {% else %}
        <h3>No image</h3>
        {% endif %}

    <br>

    <table style="height:min-height">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td>{{profile.first_name}}</td>
            <td>{{profile.last_name}}</td>
            <td>{{profile.city}}</td>
            <td>{{profile.email_address}}</td>
        </tr>
    </table>

    <br>
    
    <center><button style="font-size: larger; "><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></button></center>
    
    </div>

    <!-- Display the Status Messages for Profiles -->
    <div>
        <center><h2>Status Messages:</h2></center>
        {% for statusMessage in profile.get_status_messages %}
            <p>
                {{statusMessage.message}}
                {% for img in statusMessage.get_images %}
                    <br> <br>
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' style="max-width: 140px; height: auto;">
                    <br>
                {% endfor %} <br>
                <strong>on {{statusMessage.timestamp}}</strong> <br>
                <!-- link to update this comment -->
                <button style="font-size: xx-small; "><a href="{% url 'update_status' statusMessage.pk %}">Update</a></button>
                <!-- link to delete this comment -->
                 <button style="font-size: xx-small; "><a href="{% url 'delete_status' statusMessage.pk %}">Delete</a></button>
            </p>
        {% endfor %}
        <center><button style="font-size: larger; "><a href="{% url 'create_status' profile.pk %}">Create Status</a></button></center>
    </div>

     <!-- Display the Friends for Profiles -->
    <div>
        <center><h2>{{profile.first_name}}'s Friends:</h2></center>
        {% for friend in profile.get_friends %}
            <p><a href="{% url 'show_profile' friend.id %}">{{ friend.first_name }} {{ friend.last_name }}
                <br>
                <center><img src="{{friend.image_file.url}}" alt="Friend Picture" style="max-width: 200px; height: auto;"></center>
            </a></p>
        {% empty %}
            <p>No friends yet!</p>
        {% endfor %}

    </div>
{% endblock %}