<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
        
    {% block content %}
        <h1>About this Page</h1>
        <p>
            This application displays images and quotes of Guy Fieri.
        </p>
        <p>
            <a href="https://www.guyfieri.com/about" target="_blank">Guy Fieri</a>
             is known for his influence within the culinary community. Having shows, such as Diners, Drive-ins, and Dives
            and Guy's Grocery Games, has cemented his place as a core member of the " <a href="https://en.wikipedia.org/wiki/Food_Network"
            target="_blank">Food Network</a> .
        </p>
        <p>
            Guy Fieri has achieved popularity to the point of having a star on the Hollywood Walk of Fame--a feat he acheived in 2019.
        </p>
        <p>
            This application was created by Annelise Schreiber, a student at Boston University. She is expected to graduate in
            2026 with a bachelor's degree in Statistics & Computer Science.
        </p>
    {% endblock %}